In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('notebooks\data\zomato.csv')

In [4]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [5]:
import numpy as np

In [6]:
df['rate'] = df['rate'].apply(lambda x: float((str(x).split('/')[0] if (len(str(x))>3) else np.nan)))

In [7]:
df['rate'].dtype

dtype('float64')

In [8]:
df = df.rename(columns={'approx_cost(for two people)':'cost for 2'})

In [9]:
df.head(2)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,cost for 2,reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari

In [10]:
df['location'].unique()

array(['Banashankari', 'Basavanagudi', 'Mysore Road', 'Jayanagar',
       'Kumaraswamy Layout', 'Rajarajeshwari Nagar', 'Vijay Nagar',
       'Uttarahalli', 'JP Nagar', 'South Bangalore', 'City Market',
       'Nagarbhavi', 'Bannerghatta Road', 'BTM', 'Kanakapura Road',
       'Bommanahalli', nan, 'CV Raman Nagar', 'Electronic City', 'HSR',
       'Marathahalli', 'Sarjapur Road', 'Wilson Garden', 'Shanti Nagar',
       'Koramangala 5th Block', 'Koramangala 8th Block', 'Richmond Road',
       'Koramangala 7th Block', 'Jalahalli', 'Koramangala 4th Block',
       'Bellandur', 'Whitefield', 'East Bangalore', 'Old Airport Road',
       'Indiranagar', 'Koramangala 1st Block', 'Frazer Town', 'RT Nagar',
       'MG Road', 'Brigade Road', 'Lavelle Road', 'Church Street',
       'Ulsoor', 'Residency Road', 'Shivajinagar', 'Infantry Road',
       'St. Marks Road', 'Cunningham Road', 'Race Course Road',
       'Commercial Street', 'Vasanth Nagar', 'HBR Layout', 'Domlur',
       'Ejipura', 'Jeevan Bhima Nagar', 'Old Madras Road', 'Malleshwaram',
       'Seshadripuram', 'Kammanahalli', 'Koramangala 6th Block',
       'Majestic', 'Langford Town', 'Central Bangalore', 'Sanjay Nagar',
       'Brookefield', 'ITPL Main Road, Whitefield',
       'Varthur Main Road, Whitefield', 'KR Puram',
       'Koramangala 2nd Block', 'Koramangala 3rd Block', 'Koramangala',
       'Hosur Road', 'Rajajinagar', 'Banaswadi', 'North Bangalore',
       'Nagawara', 'Hennur', 'Kalyan Nagar', 'New BEL Road', 'Jakkur',
       'Rammurthy Nagar', 'Thippasandra', 'Kaggadasapura', 'Hebbal',
       'Kengeri', 'Sankey Road', 'Sadashiv Nagar', 'Basaveshwara Nagar',
       'Yeshwantpur', 'West Bangalore', 'Magadi Road', 'Yelahanka',
       'Sahakara Nagar', 'Peenya'], dtype=object)

In [11]:
df['rest_type'].unique()

array(['Casual Dining', 'Cafe, Casual Dining', 'Quick Bites',
       'Casual Dining, Cafe', 'Cafe', 'Quick Bites, Cafe',
       'Cafe, Quick Bites', 'Delivery', 'Mess', 'Dessert Parlor',
       'Bakery, Dessert Parlor', 'Pub', 'Bakery', 'Takeaway, Delivery',
       'Fine Dining', 'Beverage Shop', 'Sweet Shop', 'Bar',
       'Beverage Shop, Quick Bites', 'Confectionery',
       'Quick Bites, Beverage Shop', 'Dessert Parlor, Sweet Shop',
       'Bakery, Quick Bites', 'Sweet Shop, Quick Bites', 'Kiosk',
       'Food Truck', 'Quick Bites, Dessert Parlor',
       'Beverage Shop, Dessert Parlor', 'Takeaway', 'Pub, Casual Dining',
       'Casual Dining, Bar', 'Dessert Parlor, Beverage Shop',
       'Quick Bites, Bakery', 'Dessert Parlor, Quick Bites',
       'Microbrewery, Casual Dining', 'Lounge', 'Bar, Casual Dining',
       'Food Court', 'Cafe, Bakery', nan, 'Dhaba',
       'Quick Bites, Sweet Shop', 'Microbrewery',
       'Food Court, Quick Bites', 'Pub, Bar', 'Casual Dining, Pub',
       'Lounge, Bar', 'Food Court, Dessert Parlor',
       'Casual Dining, Sweet Shop', 'Food Court, Casual Dining',
       'Casual Dining, Microbrewery', 'Sweet Shop, Dessert Parlor',
       'Bakery, Beverage Shop', 'Lounge, Casual Dining',
       'Cafe, Food Court', 'Beverage Shop, Cafe', 'Cafe, Dessert Parlor',
       'Dessert Parlor, Cafe', 'Dessert Parlor, Bakery',
       'Microbrewery, Pub', 'Bakery, Food Court', 'Club',
       'Quick Bites, Food Court', 'Bakery, Cafe', 'Bar, Cafe',
       'Pub, Cafe', 'Casual Dining, Irani Cafee', 'Fine Dining, Lounge',
       'Bar, Quick Bites', 'Bakery, Kiosk', 'Pub, Microbrewery',
       'Microbrewery, Lounge', 'Fine Dining, Microbrewery',
       'Fine Dining, Bar', 'Mess, Quick Bites', 'Dessert Parlor, Kiosk',
       'Bhojanalya', 'Casual Dining, Quick Bites', 'Pop Up', 'Cafe, Bar',
       'Casual Dining, Lounge', 'Bakery, Sweet Shop', 'Microbrewery, Bar',
       'Cafe, Lounge', 'Bar, Pub', 'Lounge, Cafe', 'Club, Casual Dining',
       'Quick Bites, Mess', 'Quick Bites, Meat Shop',
       'Quick Bites, Kiosk', 'Lounge, Microbrewery',
       'Food Court, Beverage Shop', 'Dessert Parlor, Food Court',
       'Bar, Lounge'], dtype=object)

In [12]:
df1 = pd.read_csv('artifacts/train.csv')

In [13]:
df1=pd.DataFrame(df1)

In [55]:
df1.nunique()

online_order       2
book_table         2
rate              63
votes           1944
location          91
rest_type         86
cuisines        2228
cost              64
dtype: int64

In [38]:
# Assuming 'df1' is your DataFrame
grouped_combinations = df1.groupby(['location', 'rest_type', 'cuisines']).size().reset_index(name='count')
unique_combinations = grouped_combinations.drop_duplicates(subset=['location', 'rest_type', 'cuisines'])
most_common_unique_combinations = unique_combinations.sort_values(by='count', ascending=False)

# Select the top N most common unique combinations  # Change this number to the desired amount of top combinations
top_N_combinations = most_common_unique_combinations

most_common_unique_combinations = pd.DataFrame(top_N_combinations)
# The most common unique combinations are now stored in the 'most_common_unique_combinations' DataFrame

In [42]:
most_common_unique_combinations.nunique()

location       91
rest_type      86
cuisines     2228
count          28
dtype: int64

In [54]:
most_common_unique_combinations['cuisines'].unique()

array(['Bakery', 'Bakery, Desserts', 'Bakery, Desserts, Beverages', ...,
       'South Indian, Biryani, North Indian, Chinese',
       'North Indian, Chinese, Street Food, Mithai', 'Mithai, Gujarati'],
      dtype=object)

In [53]:
import pandas as pd

# Assuming 'df1' is your DataFrame
grouped_combinations = df1.groupby(['location', 'rest_type', 'cuisines']).size().reset_index(name='count')
most_common_unique_combinations = grouped_combinations.drop_duplicates(subset=['location', 'rest_type', 'cuisines'])

# Check the number of unique cuisines in the DataFrame
num_unique_cuisines_in_df = most_common_unique_combinations['cuisines'].nunique()
print("Number of unique cuisines in the DataFrame:", num_unique_cuisines_in_df)

# Check the length of unique cuisines using 'unique' method
unique_cuisines = most_common_unique_combinations['cuisines'].unique()
print("Length of unique cuisines using 'unique':", len(unique_cuisines))

# Compare the unique cuisines in the DataFrame with the length obtained from 'unique'
print("Are the lengths equal?", num_unique_cuisines_in_df == len(unique_cuisines))

# Print the entire 'cuisines' column to inspect potential discrepancies
print(most_common_unique_combinations['cuisines'])

Number of unique cuisines in the DataFrame: 2228
Length of unique cuisines using 'unique': 2228
Are the lengths equal? True
0                                             Bakery
1                                   Bakery, Desserts
2                        Bakery, Desserts, Beverages
3                                Bakery, Street Food
4                                        Finger Food
                            ...
6789    South Indian, Biryani, North Indian, Chinese
6790                      South Indian, North Indian
6791             South Indian, North Indian, Chinese
6792      North Indian, Chinese, Street Food, Mithai
6793                                Mithai, Gujarati
Name: cuisines, Length: 6794, dtype: object

In [1]:
import pandas as pd

unique_combinations = pd.read_csv('artifacts/train.csv')

In [2]:
unique_combinations.head()

,online_order,book_table,rate,votes,location,rest_type,cuisines,cost
0,True,False,4.1/5,502,Marathahalli,Dessert Parlor,"Desserts, Beverages",500
1,False,False,3.6/5,155,HSR,Quick Bites,"North Indian, Chinese, Arabian",500
2,True,False,3.4 /5,83,HSR,Casual Dining,"North Indian, South Indian, Chinese, Arabian",800
3,True,True,3.9/5,48,Indiranagar,Cafe,"Cafe, Continental, Tea, Beverages, Desserts",450
4,True,True,4.2 /5,1627,Koramangala 4th Block,Casual Dining,"Salad, Italian, Desserts, Pizza","1,500"

In [5]:
selected_columns = unique_combinations[['location', 'rest_type', 'cuisines']]
selected_columns.to_csv('unique_combinations.csv', index=False)